.loader{
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background: #18181b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader svg{
    width: 100%;
}

.loading-text{
    width: 100%;
    font-weight: bold;
    color: #fff;
    transform: translate(.4rem);
    margin-top: 1rem;
}

.loader-header {
    z-index: 11;
    background: linear-gradient(to right, #550039, #bb007d); /* Establece el gradiente */
    -webkit-background-clip: text; /* Aplica el degradado solo al texto */
    background-clip: text; /* Aplica el degradado solo al texto */
    color: transparent; /* Hace que el texto sea transparente */
    font-weight: bolder;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}